<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="./css/panelCards.css">
</head>
    
<body>
    <div class="espacioUno">
        <div class="card"></div>
    </div>
    <div class="espacioDos">
        <div class="card">
            <h1> Nuevo Equipo </h1>
            <div style="flex: 1;" class="center">
                <form id="formulario" action="" method="post">
                    <label value="">Nombre(s)</labe>
                    <input type="text">
                    <label>Categoria</labe>
                    <input type="text" placeholder="eje. 2000-2001">
                    <label>Fecha de inicio</labe>
                    <input type="date">
                    <div class="center" >
                        <input id="btnRegistrar" type="submit" value="Registrar">
                    </div>
    
                </form>
            </div>
            
            
        </div>
    </div>
</body>

</html>

<script>
    const btn = document.getElementById('btnRegistrar')
    

    btn.addEventListener('click', e => {
        e.preventDefault()
        const select = document.getElementById('categoria')
        console.log(select)
    })
</script>