<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/panelCards.css">
</head>
<body>
    
    <div class="espacioUno">
        <div class="card"></div>
    </div>
    <div class="espacioDos">
        <div class="card">
            <h1>filtro</h1>
            <p style="margin-inline: 10%;"">filtre solo por torneo para ver todos estaditicas totales del torneo, o torneo y partido para estadisticas de cada partido</p>
            <form action="">
                <select name="hola" id="" value="hola" placeholder="hola">
                    <option value="">torneo 1</option>
                    <option value="">torneo 2</option>
                </select>
                <select name="" id="" >
                    <option value="">torneo 1</option>
                    <option value="">torneo 2</option>
                </select>
            </form>
        </div>
    </div>
</body>
</html>