<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/jugadores.css">
    <link rel="stylesheet" href="./css/panelCards.css">
</head>

<body>
    <div class="espacioUno">
        <div class="card">
            <div class="cabecera">
                <h1 id="hJugadores">Jugadores</h1>
                <label id="hLabel"> Categoria </label>
                <input id="hCategoria" type="text" placeholder="hola">
            </div>
            <hr>
            <div class="apartados">
                <label id="labNombre" for="">Nombre</label>
                <label class="" for="">Tir</label>
                <label for="">Asi</label>
                <label for="">Tap</label>
                <label for="">Reb</label>
                <label for="">Per</label>
                <label for="">min</label>
                <label id="acciones" for="">Acciones</label>
            </div>
        </div>

        <div class="contenedor"></div>
    </div>
    <div class="espacioDos">
        <div class="card">
            <h1> Nuevo jugador </h1>
            <form id="formulario" action="" method="post">
                <label value="">Nombre(s)</labe>
                    <input type="text">
                    <label>Apellido(s)</labe>
                        <input type="text">
                        <label>Fecha de nacimiento</labe>
                            <input type="date">
                            <label>Rama</labe>
                                <select id="fruta" name="fruta">
                                    <option value="manzana">Var</option>
                                    <option value="banana">Fem</option>
                                </select>
                                <input type="checkbox" id="checkbox" name="checkbox" value="valor">
                                <label for=""> pertenece a categoria libre</label>
                                <div class="center">
                                    <input id="btnRegistrar" type="submit" value="Registrar">
                                </div>

            </form>
        </div>
    </div>
</body>

<template id="jugadoresStats">
    <div class="registros">
        <label id="labNombre" for="">Nombre</label>
        <label class="" for="">Tir</label>
        <label for="">edc</label>
        <label for="">edc</label>
        <label for="">edc</label>
        <label for="">edc</label>
        <label for="">edc</label>
        <label id="acciones" for="">Acciones</label>
    </div>
</template>

</html>

<script>

</script>