.formularioUpdate{
    margin-inline: 15px;
    margin-block: 30px;
}

.formularioUpdate form{
    display: flex;
    flex-direction: column;
}

.formularioUpdate form input{
    border: 0px;
    border-bottom: 1px solid gray;
    font-size: 19px;
    padding-left: 5px;
    padding-block: 6px;
}

.formularioUpdate form input:focus, form select:focus{
    outline: none;
    border: 0px;
    border-bottom: 1px solid gray;
    background-color: rgba(255, 166, 0, 0.4);
    font-size: 19px;
}

.formularioUpdate label{
    margin-block-start: 20px;
    margin-block-end: 7px;
    font-size: 14px;
    font-weight: 300;

}

dialog{
    border: none;
}
