body{
    min-height: 100%;
    max-height: 90%;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.center{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.espacioUno{
    width: 72%;
    min-width: 72vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.espacioDos{
    height: 100%;
    min-height: 100%;
    width: 28%;
    min-width: 28%;
    display: flex;
    align-items: center;

}

.card{

    min-height: 90%;
    max-height: 90%;
    min-width: 90%;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(179, 179, 179);
    border: 1px solid rgb(240, 240, 240) ;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
}

form{
    margin-inline: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

form label{
    min-width: 100%;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: small;
    margin: 3px;
    width: 100%;
}

input[type="text"],[type="date"], select{
    width: 100%;
    margin-bottom: 20px;
    border: 0px;
    border-bottom: 1px solid gray;
    padding-inline-end: 0px;
    color: gray;
}


input:focus[type="text"], :focus[type="date"]{
    outline: none;
    width: 100%;
    border: 0px;
    padding-inline-end: 7px;
    border-bottom: 2px solid gray;
    color: black
}

input::placeholder[type="text"], [type="date"] {
    color: black;
}


input[type="submit"]{
    width: 10rem;
    margin-block: 10px;
    border-radius: 2vw;
    padding-inline: 10px;
    padding-block: 8px;
    background-color: rgb(255, 79, 15);
    border: 0px;
    box-shadow: 1px 2px 5px rgba(88, 88, 88, 0.5);

    font-family: 'Jost' sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: aqua;
}